/* pro.css */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

@keyframes arch-ani {
    0% {
        left: -20%;
        top: 0%;
    }

    25% {
        left: -30%;
        top: -30%;
    }

    50% {
        left: -20%;
        top: 0%;
    }

    75% {
        left: -10%;
        top: -30%;
    }

    100% {
        left: -20%;
        top: 0%;
    }
}

a {
    color: #1793d1;
}

a:hover {
    color: #999999;
}

body {
    background-color: #333333;
    font-family: sans-serif, 'Noto Sans TC';
    font-size: 125%;
    margin: 0%;
}

.main-text {
    margin: auto;
    text-align: left;
    position: relative;
    width: 80%;
    z-index: 100;
}

.top-link {
    text-decoration: none;
}

#bg-ani {
    animation: arch-ani 5s linear infinite;
    background-image: url("../images/archbtw.png");
    background-repeat: repeat;
    background-size: 20%;
    text-align: center;
    position: fixed;
    width: 150%;
}

#home {
    margin-left: 1%;
}

#main-bg {
    background-color: #ecf2f5;
    margin: auto;
    opacity: 0%;
    position: relative;
    text-align: center;
    width: 70%;
}

#main-bg:hover {
    opacity: 100%;
}

#meme {
    background-color: #999999;
    display: block;
    margin: auto;
    opacity: 100%;
    width: 60%;
}

#top-area {
    background-color: #333;
    font-size: 150%;
    position: fixed;
    text-align: left;
    width: 100%;
    z-index: 101;
}

#top-cache {
    margin-top: 0%;
}