/* pro.css */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

@keyframes arch-ani {
    0% {
        left: 0%;
        top: 0%;
    }

    25% {
        left: -15%;
        top: -20%;
    }

    50% {
        left: 0%;
        top: 0%;
    }

    75% {
        left: 15%;
        top: -20%;
    }

    100% {
        left: 0%;
        top: 0%;
    }
}

a {
    color: #1793d1;
}

a:hover {
    color: #999999;
}

body {
    background-color: #333333;
    font-family: sans-serif, 'Noto Sans TC';
    font-size: 125%;
    margin: 0%;
}

h1 {
    margin: 0%;
}

.main-text {
    margin: auto;
    text-align: left;
    width: 60%;
    z-index: 100;
}

.top-link {
    text-decoration: none;
}

.top-link:hover {
    font-size: 125%;
}

#bg-ani {
    animation: arch-ani 5s linear infinite;
    background-image: url("../images/archbtw.png");
    background-repeat: repeat;
    background-size: 10%;
    margin-left: -50%;
    position: fixed;
    width: 200%;
}

#home {
    margin-left: 1%;
}

#main-bg {
    background-color: #ecf2f5;
    margin: auto;
    opacity: 100%;
    position: sticky;
    text-align: center;
    width: 70%;
}

#meme {
    background-color: #999999;
    display: block;
    margin: auto;
    opacity: 100%;
    width: 100%;
}

#top-area {
    background-color: #333333;
    font-size: 150%;
    position: sticky;
    text-align: left;
    top: 0%;
    width: 100%;
    z-index: 101;
}