/* home.css */

@keyframes test {
    0% {
        margin-left: 0%;
    }

    50% {
        margin-left: 25%;
    }

    100% {
        margin-left: 100%;
    }
}

h1 {
    font-size: 300%;
}

.prodiv {
    position: fixed;
    z-index: 9999;
    top: 200px;
    right: 10px;
    width: 20px;
    height: 120px;
    box-shadow: 3px 4px 0px 0px #1564ad;
    background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
    border-radius: 5px;
    border: 1px solid #337bc4;
    display: inline-block;
    cursor: cell;
    color: #ffffff;
    font-family: 標楷體;
    font-size: 20px;
    padding: 10px 24px;
    text-shadow: 0px 1px 0px #528ecc;
    transition: 1s;
    animation-name: propasal;
    animation-duration: 5s;
    opacity: 0;
}

@keyframes proposal {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#meme {
    background-color: #999999;
    display: block;
    margin: auto;
    opacity: 100%;
}

#test {
    background-color: black;
    color: black;
    font-size: 100%;
    margin-left: 1%;
}

#test:hover {
    animation: test 3s;
    color: #999999;
}