body {
    background-color: #1793d1;
}

.main-area {
    background-color: gray;
    margin: auto;
    width: 60%;
}

#only-use {
    animation: meme 10s step-start infinite running;
    margin-top: 10%;
    width: 100%;
}

@keyframes meme {
    20% {
        background-image: url(../images/meme/frame1.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    40% {
        background-image: url(../images/meme/frame2.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    60% {
        background-image: url(../images/meme/frame3.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    80% {
        background-image: url(../images/meme/frame4.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }
}